body{
	font-size: 14px;
	display: block;
	font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    background: #3e3e3e;
}

.dropdown{
	margin : auto;
	display: block;
	position: relative;
	> .dropdown-menu{
		display: inline-block;
		width: 180px;
		> a{
			display: inline-block;
			width: 180px;
			height: 40px;
			line-height: 40px;
			background: #1eb98f;
			color: #f9f9f9;
			font-weight: 600;
			border-radius: 3px;
			padding :  0 20px;
			cursor: pointer;
			position: relative;
			&:before{
		            content: '';
				    display: block;
				    width: 0;
				    height: 0;
				    position: absolute;
				    border-left: 6px solid transparent;
				    border-top: 8px solid #068462;
				    border-right: 6px solid transparent;
				    right: 20px;
				    top: 15px;
			}
			.fa{
		    	margin-right: 15px;
		    }
		}
		> ul{
			display: none;
			position: absolute;
			border-radius: 3px;
			width: 220px;
			background: #1eb98f;
			list-style: none;
			padding: 0px;
			z-index: 999;
			>li{
				width: 100%;
				a {
					padding :  0 20px;
					height: 40px;
					line-height: 40px;
					color: #f9f9f9;
					font-weight: 600;
				    display: block;
				    cursor: pointer;
				    &:hover, &.active{
				    	background: #0d8c6a;
				    }
				    .fa{
				    	margin-right: 15px;
				    }
				}
				&:first-child{
					a{
						border-radius: 3px 3px 0 0;
					}
				}
				&:last-child{
					a{
						border-radius: 0 0 3px 3px;
					}
				}
			}
			&:before{
		        content: '';
			    display: block;
			    width: 0;
			    height: 0;
			    position: absolute;
			    border-left: 6px solid transparent;
			    border-bottom: 8px solid #1eb98f;
			    border-right: 6px solid transparent;
			    right: 20px;
			    top: -7px;

			}
		}
	}
	&.open{
		> .dropdown-menu{
			> ul{
				display: block;
			}	
		}
	}
}
.btn{
	height: 40px;
	margin-top: 50px;
	width: 100px;
	background:  #1eb98f;
	border-radius: 3px;
	line-height: 40px;
	border : 0px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	&:hover{
		background: #0d8c6a;
	}
}

form{
	margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}